<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Artists | Flow Artz</title>
	<meta name="keywords" content="Flow Artz, Edmonton, Flow, Prop, Community, Arts" />
	<meta property="og:description" content="Flow Artz is a collaborative organization that seeks to network all forms of art, movement and flow to one location, inviting teachers and students globally to help educate and inspire the world." />
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<script src="http://flowartz.dev/template/js/jquery.min.js"></script> 
        
                <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css" type="text/css" media="all" /> 
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://flowartz.dev/template/css/flowartz-core.css?" />
		<link rel="stylesheet" type="text/css" href="css.css" />
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="http://flowartz.dev/template/css/flowartz-core-ie7.css?" />
	<![endif]-->
	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="http://flowartz.dev/template/css/flowartz-core-ie8.css?" />
	<![endif]-->
	
	<link href="http://flowartz.dev/template/images/favicon.ico?" rel="icon"/>
	<![if ! IE]>
	<link href="http://flowartz.dev/template/images/favicon.png?" rel="shortcut icon"/>
	<![endif]>

       
</head>
<body>

<div id="header">
	<div class="wrapper clearfix">
		<a href="http://flowartz.dev/" id="logo"><img src="http://flowartz.dev/template/images/fa-logo.png" alt="Flow Artz Distribution & Development" /></a>
		
	</div>
	<!-- end of header wrapper div -->
</div>
<!-- end of header div -->
<div class="content">
    <div class="wrapper clearfix">
        <div class="shop-left">
		<div class="ch_normal" style="width: 195px; height: 195px; margin-bottom: 20px;">
		<img class="showContenthover" src="http://flowartz.dev/template/images/artist-image.png">
		</div>
		<div style="width:90%;text-align:center">
		<span style="width:50%;float:left;margin-bottom:15px">Share the workshop</span>
		<img src="../images/social/facebook.png">
		<img src="../images/social/twitter.png">
		
		</div>
		<input type="text" />
	   <label>Art Catergory</label>
	   	   	   <input type="text" />
	   <label>Art Tags</label>
	   	   <input type="text" />
	   <label>Skill Level</label>
	   	   <input type="text" />
	   <label>Text</label>
	   	   <input type="text" />
	   <label>Text</label>
	   	   <input type="text" />
	   <label>Cost</label>
		</div>
       <div class="shop-right">
	   <input type="text" /></br>
	   <label>Workshop Name</label>
	   	   <input type="text" /></br>
	   <label>Teacher Name</label>
	   <div>
	   <div class="shop-right-left">
	   	   <input type="text" /></br>
	   <label>Date</label>
	   	   <input type="text" /></br>
	   <label>Text</label>
	   </div>
	   <div class="shop-right-right">
	   	   <input type="text" /></br>
	   <label>Time</label>
	   	   <input type="text" /></br>
	   <label>Text</label>
       </div>
	   <input type="text" style="width:64%;"/>
	   <input type="submit" value="" style="width: 5%" />

	   </br>
	   <label>Location</label>
	   </div>
	   </br>
	<div style="text-align: center;">
	   <label style="width: 100%;float:left">Workshop Description</label></br>
	
	   <textarea style="width: 100%;" rows="13"></textarea>
	</div>
	<div style="position: absolute;right: 0;top: 0;width: 35%;">
		<a class="button turquoise gradient" href="#" style="float: right;margin: 0;text-align: center;width: 40%;margin-bottom:25px">Add to </a>
	<a class="button turquoise gradient" href="#" style="float: right;margin: 0;text-align: center;width: 40%;margin-bottom:25px">Enroll</a>
		<a class="button" href="#" style="float: right;margin: 0;text-align: center;width: 40%;">RSVP</a>
	</div>
	   </div>
	   	     <div style="border-top: 1px solid #bbb;display: inline-block;padding: 20px 0;text-align:center">
		 <span style="font-weight:bold;font-size:20px">Student Enrolled</span>
	       <ul class="artist-group" style="border-radius:10px;border:1px solid #ccc;margin-top:10px">
                            
                    <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>

                     <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>
					                    <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>
					                    <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>
                         <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>

                     <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>
					                    <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>
					                    <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>
                                    </ul>
	   </div>
    </div>
    <!-- end of content wrapper div -->
</div>

</body>
</html>
