.shop-left label, .shop-right label{
    display: block;
    margin: 10px;
    position: relative;
    text-align: center;
}
input, textarea{
    border: 1px solid #999;
    border-radius: 8px 8px 8px 8px;
    padding: 4px 6px;
}
.ch_normal img, .artist-border{
border: 1px solid #999;
    border-radius: 8px 8px 8px 8px;
}
.shop-left{
    float: left;
    position: relative;
    width: 220px;
}
.shop-left input, .shop-left label{
 	width: 84%;
}
.shop-right input, .shop-right label{
 	width: 70%;
}
.shop-right{
    float: right;
    position: relative;
    width: 700px;
}
.shop-right-left, .shop-right-right{
float: left;
    position: relative;
width: 266px;
}
.shop-right-left input, .shop-right-right input{
width: 84%;
}
.button.gradient {
    background-image: -moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.3) 1%, rgba(255, 255, 255, 0.2) 100%);
}
.button.gradient:hover {
    background-image: -moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.45) 1%, rgba(255, 255, 255, 0.3) 100%);
}
.button.turquoise {
    background: none repeat scroll 0 0 #00B1AF;
}
.button.orange {
    background: none repeat scroll 0 0 #DA8A00;
}
.button {
    background-color: #BC1815;
    border: medium none;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0 -9px 9px rgba(0, 0, 0, 0.45) inset, 0 2px 2px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    margin-right: 25px;
    padding: 8px 14px 10px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	}
	.totalEn label {
    display: block;
    float: left;
    position: relative;
    text-align: right;
    width: 35%;
	padding:5px;
}
.totalEn div{
margin-bottom: 10px;
}
.menu-nav ul.nav, .menu-az ul.nav {
    border-right: 1px solid #E5E5E5;
    float: right;
    margin: 0 0 25px;
}
.menu-nav ul.nav li, .menu-az ul.nav li {
    float: left;
}
.menu-nav ul.nav a{
    border-left: 1px solid #fff;
    color: #333333;
    display: block;
    padding: 6px 0;
    text-align: center;
    width: 155px;
	font-weight:bold;
}
.menu-az ul.nav {
    border-right: 1px solid #E5E5E5;
    float: left;
    margin: 0 0 25px;
}
.menu-az ul.nav a{
    border-left: 1px solid #fff;
    color: #999;
    display: block;
    padding: 6px 0;
    text-align: center;
    width: 120px;
	font-weight:bold;
}

ul.artist-group.fea-group li.artist-profile {
    margin: 0 13px 20px;
}
ul.artist-group.fea-group.note-group li.artist-profile {
    margin: 0 0 20px 38px;
}
.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.artist-border label{
margin:0;
}
.artist-border img{
border: 0 none;
}
