/* Styles */
@font-face {
    font-family:'KomikaAxisRegular';
    src: url('../font/KOMIKAX_-webfont.eot');
    src: url('../font/KOMIKAX_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/KOMIKAX_-webfont.woff') format('woff'),
         url('../font/KOMIKAX_-webfont.ttf') format('truetype'),
         url('../font/KOMIKAX_-webfont.svg#KomikaAxisRegular') format('svg');
    font-weight:normal;
    font-style:normal;
	}

body{
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1;
    color: #7f7f7f;
}

.wrapper{
    width: 940px;
    margin: 0 auto;
}

.clearfix:after{  
    content: ".";  
    visibility: hidden;  
    display: block;  
    clear: both;  
    height: 0;  
    font-size: 0; /* Just a precaution for Firefox. The browser sometimes adds a bit of space after our parent element. Setting the font-size to zero fixes this. */
}

input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}

.home-signup, .signup, .login, .activate, .search-form input[type=text], .fa-form input[type=text], .fa-form input[type=password], .fa-edit-form input[type=text], .fa-edit-form textarea, .fa-form input[type=submit], .fa-edit-form input[type=submit], .artist-search input[type=text], .profile-right, a.grey-btn, .home-form input{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.search-form input, .fa-form input, .home-form input, .fa-edit-form input, .fa-edit-form textarea, .artist-search input{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Admin Bar */

#admin-bar{
    position: relative;
    width: 100%;
    height: 36px;
    background: #262626;
}

#admin-bar ul.admin{
    float: left;
    border-left: 1px solid #0d0d0d;
    border-right: 1px solid #333333;
}

#admin-bar ul.admin li{ float: left; }

#admin-bar ul.admin a{
    display: block;
    height: 26px;
    padding: 10px 10px 0 10px;
    font-size: 0.875em;
    text-align: center;
    color: #ffffff;
    border-left: 1px solid #333333;
    border-right: 1px solid #0d0d0d;
    background: #262626;
}

#admin-bar ul.admin a:hover{
    background: #1a1a1a;
    border-left: 1px solid #1a1a1a;
}

.search-form{
    position: relative;
    float: right;
    width: 220px;
    margin: 6px 0 0;
}

.search-form input[type=text]{
    width: 100%;
    height: 24px;
    font-size: 0.75em;
    font-weight: 300;
    color: #999999;
    padding: 0 36px 0 10px;
    border-radius: 12px;
    border: 1px solid #0d0d0d;
    background: #1a1a1a;
}

.search-form input[type=text]:focus{
    border: 1px solid #262626;
    background: #ffffff;
}

.search-form input[type=submit]{
    display: block;
    position: absolute;
    right: 10px;
    top: 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: none;
    background: url("../images/fa-icons-16.png") no-repeat 0 0;
}

/* Header */

#header{
    position: relative; 
    width: 100%;
    padding: 18px 0;
    background: #ffffff;
}

a#logo{
    float: left;
    display: block;
    width: 220px;
    height: 54px;
}

#header ul.nav{
    float: right;
    margin: 13px 0 0;
    border-right: 1px solid #e5e5e5;
}

#header ul.nav li{ float: left; }

#header ul.nav a, #footer ul.footer-nav a{
    display: block;
    width: 120px;
    padding: 6px 0;
    text-align: center;
    color: #333333;
    border-left: 1px solid #e5e5e5;
}

/* Sections */

#message{
    position: relative;
    width: 100%;
    padding: 18px 0;
    border-bottom: 1px solid #7835ab;
    background: #662d91;
}

.content{
    position: relative;
    width: 100%;
    padding: 24px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: #F2F2F2 url("../images/noise.png") repeat;
}

/* Home Page */

#home-content{ 
    padding: 30px 0;
    border-top: 1px solid #421d5d;
    border-bottom: 1px solid #421d5d;
    background: #662d91 url("../images/grid-pattern.png") repeat;
}

.home-signup{
    position: relative;
    float: left;
    width: 360px;
}

.home-signup p{
    line-height: 150%;
    margin: 18px 0 0;
    color: #ffffff;
}

.profile-feature{
    position: relative;
    float: right;
    width: 540px;
    line-height: 0;
    box-shadow: 0 0 10px #262626;
}

.profile-feature, .profile-feature img{
    border-radius: 10px;
}

#fa-future{ padding: 30px 0; }



.last-phase{ margin: 0px 0 0; }

/* Forms */

.home-form{
    width: 100%;
    margin: 20px 0 0;
}

.home-form input[type=text], .home-form input[type=password]{
    width: 100%;
    height: 39px;
    padding: 10px;
    color: #ffffff;
    border: 1px solid #4b216a;
    background: #542577;
}

.home-form label{ color: #ffffff; }

.signup, .login, .activate{
    position: relative;
    float: left;
    width: 380px;
    margin: 0 0 0 280px;
    padding: 24px 30px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 5px #cccccc;
    background: #ffffff;
}

.fa-form{
    width: 260px;
    margin: 24px auto 0;
}

.fa-edit-form{
    width: 100%;
    margin: 30px 0;
}

.fa-form input, .home-form input, .fa-edit-form input, .fa-edit-form textarea{
    font-size: 0.875em;
    font-weight: 300;
    margin: 6px 0 12px 0;
}

.home-form input{ margin: 10px 0 15px 0; }

.fa-form label, .fa-edit-form label{
    font-size: 0.875em;
    color: #333333;
}

.fa-edit-form label{ display: block; }

.fa-form input[type=text], .fa-form input[type=password], .fa-edit-form input[type=text], .fa-edit-form textarea{
    width: 100%;
    padding: 6px;
    color: #662d91;
    border: 1px solid #e5e5e5;
    background: #ffffff;
}


#fac_login input, #fac_login textarea{
    width: 100%;
}

.fa-edit-form select{
    padding: 6px;
    margin: 6px 0 12px 0;
    max-width: 250px;
}

.fa-edit-form input[type=text], .fa-edit-form textarea{ color: #7f7f7f; }

a.btn{
    width: 100%;
    padding: 6px;
    color: #662d91;
    border: 1px solid #e5e5e5;
    background: #ffffff;
    font-size: small;
}

a.btn-red,
.fa-form input[type=submit], .home-form input[type=submit], .fa-edit-form input[type=submit]{
    width: 100%;
    margin: 6px 0 0;
    height: 36px;
    vertical-align: middle;
    text-shadow: 0 1px 0 #ba350c;
    cursor: pointer;
    color: #ffffff;
    border-radius: 18px;
    border: 1px solid #ba350c;
    background: #f1592a;
    background: -moz-linear-gradient(top, #f1592a, #da3e0e);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1592a), to(#da3e0e));
}

.fa-edit-form input[type=reset]{
    width: 200px;
    margin: 6px 0 0;
    height: 36px;
    vertical-align: middle;
    text-shadow: 0 1px 0 #ba350c;
    cursor: pointer;
    color: #ffffff;
    border-radius: 18px;
    border: 1px solid #ba350c;
    background: #f1592a;
    background: -moz-linear-gradient(top, #f1592a, #da3e0e);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1592a), to(#da3e0e));
}

.delete-btn,
.home-form input[type=submit]{
    width: 50%;
    height: 40px;
    border-radius: 20px;
    margin: 5px 0 0;
}

.delete-btn,
.fa-edit-form input[type=submit], fa-edit-form input[type=reset]{ width: 215px; }

.delete-btn,
.fa-edit-form input#delete-btn{
    float: right;
    width: 90px;
    color: #333333;
    text-shadow: none;
    border: 1px solid #e5e5e5;
    background: #f2f2f2;
}

.fa-form input[type=submit]:hover, .home-form input[type=submit]:hover, .fa-edit-form input[type=submit]:hover, .fa-edit-form input[type=reset]:hover{
    background: -moz-linear-gradient(top, #da3e0e, #f1592a);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#da3e0e), to(#f1592a));
}

.fa-form a.reset-password{
    color: #7f7f7f;
    font-size: 0.75em;
    font-weight: normal;
    margin: 0 0 0 3px;
}

.fa-edit-form textarea{ height: 90px; }

/* Artists */

.artist-filter{
    position: relative;
    float: left;
    width: 100%;
    padding: 0 0 9px 0;
    border-bottom: 1px solid #cccccc;
}

.artist-filter ul{
    float: left;
    padding: 14px 0 0;
}

.artist-filter li{
    float: left;
    margin: 0 20px 0 0;
}

.artist-filter a, .user-exp-info a{ color: #7f7f7f; }

.artist-filter a.active-filter{
    font-weight: normal;
    color: #662d91;
}

.artist-search{
    position: relative;
    float: right;
    width: 380px;
}

.artist-search input{
    font-size: 0.875em;
    font-weight: 300;
}

.artist-search input[type=text]{
    width: 100%;
    padding: 6px 37px 6px 15px;
    color: #662D91;
    border-radius: 15px;
    border: 1px solid #e5e5e5;
    background: #ffffff;
}

.artist-search input[type=text]::-webkit-input-placeholder{ color: #662D91; }

.artist-search input[type=submit]{
    display: block;
    position: absolute;
    right: 15px;
    top: 7px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: none;
    background: #ffffff url("../images/fa-icons-16.png") no-repeat 0 0;
}

ul.artist-group{
    float: left;
    width: 100%;
    padding: 20px 0 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #cccccc;
}

ul.artist-group li.artist-profile{
    float: left;
    width: 195px;
    margin: 0 20px 20px 20px;
}

li.artist-profile .artist{
    position: relative;
    width: 100%;
    text-align: center;
}

li.artist-profile .artist a.thumb-link{
    font-size: 0.875em;
    font-weight: normal;
    color: #f1592a;
}

li.artist-profile .artist a.avatar{
    display: block;
    line-height: 0; /* Removes extra bottom padding */
    margin: 6px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px #7f7f7f;
}

li.artist-profile .artist img, .profile-picture img{ 
    border-radius: 10px; 
}

li.artist-profile .artist li{
    font-size: 0.75em;
    margin: 3px 0 0;
}

li.artist-profile .artist li.thumb-desc{
    font-size: 0.875em;
    color: #333333;
}

li.no-results{
    color: #333333;
    padding: 0 0 20px 0;
}

.pagination{
    position: relative;
    float: left;
    width: 100%;
    padding: 27px 0 0;
    text-align: center;
    border-top: 1px solid #ffffff;
}
.pagination a, .pagination strong {
    background: #e3e3e3;
    padding: 4px 7px;
    text-decoration: none;
    border: 1px solid #cac9c9;
    color: #292929;
    font-size: 13px;
}

.pagination strong, .pagination a:hover {
    font-weight: normal;
    background: #cac9c9;
}
/* Profile Left */

.profile-left{
    position: relative;
    float: left;
    width: 220px;
}

.profile-picture{
    position: relative;
    width: 100%;
    line-height: 0; /* Removes extra bottom padding */
}

.profile-picture a {
    display: none;
    float: right;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    background-color: #333;
    padding: 10px;
    font-size: x-small;
    border-radius: 10px;
}

.profile-picture:hover>a {
    display: block;
}

.user-media{
    float: left;
    width: 100%;
    margin: 30px 0 0;
}

#user-images ul, #user-video ul, #user-share ul{
    float: left;
    width: 100%;
    padding: 9px 0 0;
    border-top: 1px solid #ffffff;
}

#user-images li, #user-share li{
    float: left;
    margin: 0 5px 0 0;
}

#user-images li{ width: 70px; }

#user-images li.last-thumb{ margin: 0; }

#user-images a{
    display: block;
    line-height: 0; /* Removes extra bottom padding */
    background: #ffffff;
}

#user-video ul{ padding: 3px 0 0; }

#user-video li{ 
    font-size: 0.875em;
    margin: 6px 0px 0px 2px; 
    float: left;
}

#user-video a{ color: #7f7f7f; }

#user-share a{
    display: block;
    width: 32px;
    height: 33px;
    text-indent: -9999px;
    background: url("../images/fa-social-icons.png") no-repeat;
}

#user-share a.facebook-share-icon{ background-position: -162px 0; }

#user-share a.twitter-share-icon{ background-position: -162px -33px; }

#user-share a.email-share-icon{ background-position: -162px -66px; }

.profile-widgets{ margin: 30px 0 0; }

/* Profile Right */

.profile-right{
    position: relative;
    float: right;
    width: 700px;
    padding: 30px 30px 0 30px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 5px #cccccc;
    background: #ffffff;
}

.profile-right-section{
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 30px 0;
}

#user-info ul, #user-links ul, #user-skills ul{ margin: 18px 0 0; }

#user-info ul li{
    font-size: 0.875em;
    margin:0 0 6px 0;
}

#user-info ul li.user-title{
    font-size: 1em;
    font-weight: normal;
    color: #333333;
}

#user-info ul li.user-desc{
    margin: 12px 0 0;
    line-height: 150%;
}

#user-links ul li{
    float: left;
    margin: 0 15px 0 0;
}

#user-links a.another_link,
#user-links a.home-link{
    height: 16px;
    padding: 0 0 0 24px;
    font-size: 0.875em;
    color: #7f7f7f;
    background: #ffffff url("../images/fa-icons-16.png") no-repeat 0 -225px;
}

#user-links a.home-link{ background-position: 0 -250px; }

#user-links a.facebook-link{ background-position: 0 -275px; }

#user-links a.twitter-link{ background-position: 0 -300px; }

#user-links a.youtube-link{ background-position: 0 -325px; }

#user-links a.vimeo-link{ background-position: 0 -280px; }

#user-skills ul{
    width: 198px;
    float: left;
    margin-top: 20px;
}

#user-skills ul li{
    float:left;
    margin: 5px;
    padding: 6px;
    font-size: 0.875em;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background: #f2f2f2;    
}

#user-skills ul li.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    border: 0px;
    background: transparent;
    width: 190px;
    margin-bottom: 20px;
}

#user-skills .skill-divider{
    border-radius: 0;
    width: 22px;
    height: 141px;
    float:left;
    background: #ffffff url("../images/seperator-line.png") no-repeat;
    margin-top: 40px;
}

#user-skills ul li h3{
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
    color: #999999;
    float: left;
}

.user-exp-item{
    float: left;
    width: 100%;
    padding: 18px 0;
    border-bottom: 1px solid #e5e5e5;
}

.user-exp-summary, .edit-form{
    float: left;
    width: 500px;
}

.edit-form{
    width: 420px;
    margin-right: 20px;
}

.user-exp-summary li{
    font-size: 0.875em;
    font-weight: normal;
    color: #333333;
    margin:0 0 3px 0;
    line-height: 150%;
}

.user-exp-summary p,
.user-exp-summary li.exp-desc{
    font-size: 0.75em;
    color: #7f7f7f;
    margin: 10px 0 0;
}
.user-exp-summary p{
    line-height: 15px;
}

.user-exp-summary div.location,
.user-exp-summary div.url{
    margin: 20px 0px 5px 0px;
    border-bottom: dashed 1px #999;
    padding: 5px 0px 10px 0px;
}

.user-exp-summary div.location p,
.user-exp-summary div.url p{
    margin: 0px 0px 5px 25px;
}

.user-exp-summary div.url p a{
    color: #7F7F7F;
}

.user-exp-summary div.location{
    background: url("../images/MapDrop.png") no-repeat;
}
.user-exp-summary div.url{
    background: url("../images/Connect.png") no-repeat;
}

.user-exp-summary h3{
    color: #333;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.user-exp-info, .edit-list{
    float: left;
    width: 120px;
}

.edit-list{    
    width: 190px;
}

.edit-list{ padding: 0 0 30px 0; }

.user-exp-info li.date{
    margin-left: 10px;
}


.user-exp-info li{
    font-size: 0.75em;
    font-weight: normal;
    margin: 0 0 6px 5px;
    /*float: left;*/
}

#user-links li.no-posts, #user-skills li.no-posts, .user-exp-summary li.no-posts{
    font-size: 0.875em;
    font-weight: 300;
    color: #333333;
    border: none;
    padding: 0;
    border-radius: 0;
    background: #ffffff;
}

#user-links li.no-posts a, #user-skills li.no-posts a, .user-exp-summary li.no-posts a{
    font-size: 1em;
    color: #662d91;
    background: none;
    padding: 0;
    height: auto;
}

/* Edit Profile */

#edit-profile ul{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #ffffff; 
}

#edit-profile li{
    padding: 6px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #cccccc;
}

#edit-profile a{
    display: block;
    padding: 0 0 0 30px;
    color: #7f7f7f;
    background: url("../images/fa-icons-16.png") no-repeat 0 -25px;
}

#edit-profile a.user-icon{ background-position: 0 -25px; }

#edit-profile a.profile-icon{ background-position: 0 -50px; }

#edit-profile a.links-icon{ background-position: 0 -75px; }

#edit-profile a.skills-icon{ background-position: 0 -100px; }

#edit-profile a.calendar-icon{ background-position: 0 -125px; }

#edit-profile a.image-icon{ background-position: 0 -150px; }

#edit-profile a.film-icon{ background-position: 0 -175px; }

#edit-profile a.settings-icon{ background-position: 0 -200px; }

#edit-profile a.payment-icon{ background-position: 0 -398px; }

#classroom ul{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #ffffff; 
}

#classroom li{
    padding: 6px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #cccccc;
}

#classroom a{
    display: block;
    padding: 0 0 0 30px;
    color: #7f7f7f;
    background: url("../images/fa-icons1-16.png") no-repeat 0 -25px;
}

#classroom a.add-class{ background-position: 0 0; }
#classroom a.list-class{ background-position: 0 -25px; }

a.grey-btn{
    float: right;
    display: block;
    width: 140px;
    text-align: center;
    font-size: 0.875em;
    margin: 6px 0 0;
    padding: 9px 0;
    color: #333333;
    border-radius: 24px;
    border: 1px solid #e5e5e5;
    background: #f2f2f2;
}

.edit-list h5{
    padding: 30px 0 6px 0;
    border-bottom: 1px solid #e5e5e5;
}

.edit-list ul{
    margin: 9px 0 0;
}

.edit-list li{
    margin: 0 0 6px 0;
    font-size: 0.875em;
}

.edit-list a{ color: #7f7f7f; }

.current-img{
    margin: 9px 0 0;
}

/* Headers */

h1, h2, h3, h4, h5, h6{
    color: #333333;
    font-weight: 300;
}

h1{ font-size: 1.875em; }

#home-content h1,
#home-content p{
    color: #ffffff;
}

#message h1, #home-content h2{ 
    color: #ffffff;
    text-shadow: 1px 1px 0 #2f1543;
}

h2{ font-size: 1.5em; }

h3{font-size: 1.125em;}

#edit-profile h3{ padding: 0 0 6px 0; }

.profile-right h1, .signup h3, .login h3, .activate h3{ color: #f1592a; }

h4{ font-size: 1em; }

h5{ font-size: 0.875em; }

.user-media h4{
    color: #333333;
    padding: 0 0 6px 0; 
    border-bottom: 1px solid #cccccc;
}

.profile-right-section h4{
    color: #f1592a;
    padding: 0 0 6px 0; 
    border-bottom: 1px solid #e5e5e5;
}

.center{ text-align: center; }

/* Footer */

#footer{
    position: relative;
    width: 100%;
    padding: 18px 0 54px 0;
    background: #ffffff;
}

#footer a{ color: #999999; }

#footer ul.footer-nav{
    float: left;
    margin: 0 0 14px 0;
    border-right: 1px solid #e5e5e5;
}

#footer ul.footer-nav li{ float: left; }

#footer ul.social-links{ float: right; }

#footer ul.social-links li{
    float: left;
    margin: 0 0 0 10px;
}

#footer ul.social-links a{
    display:block;
    width: 54px;
    height: 54px;
    overflow: hidden;
    text-indent: -9999px;
    background: #ffffff url("../images/fa-social-icons.png") no-repeat;
}

#footer ul.social-links a.fa-facebook{ background-position: 0 0; }

#footer ul.social-links a.fa-twitter{ background-position: -54px 0; }

#footer ul.social-links a.fa-youtube{ background-position: -108px 0; }

#footer ul.social-links a.fa-facebook:hover{ background-position: 0 -54px; }

#footer ul.social-links a.fa-twitter:hover{ background-position: -54px -54px; }

#footer ul.social-links a.fa-youtube:hover{ background-position: -108px -54px; }

#footer p{
    clear: left;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 150%;
    color: #999999;
}

/* Link Hovers */

#header ul.nav a:hover, .fa-form a.reset-password:hover, #user-video a:hover, #user-links a:hover, .user-exp-info a:hover, #edit-profile a:hover, .edit-list a:hover, #footer ul.footer-nav a:hover, #footer a:hover{ color: #662d91; }

/* Media Queries */

@media screen and (max-width: 1024px){

    .wrapper{ width: 92.75%; } /* Seems to provide the smoothest transition */

    .home-signup{ width: 38.2978723%; }

    .profile-feature{ width: 57.4468085%; }

    .signup, .login, .activate{ width: 40.4255319%; }

    .signup, .login, .activate{ margin: 0 0 0 29.1666666%; }

    .fa-form{ width: 81.25%; }

    .fa-phase{
        width: 31.9148936%;
        margin: 24px 2.1276595% 0 0;
    }

    .phase-img{
        width: 73.3333333%;
        height: auto;
        margin: 0 13.3333333%;
    }

    .last-phase{ margin: 24px 0 0; }

    ul.artist-group li.artist-profile{
        width: 20.7446808%;
        margin: 0 2.1276595% 20px 2.1276595%;
    }

    .profile-left{ width: 23.4042553%; }

    #user-images li{ 
        width: 31.8181818%;
        margin: 0 2.2727272% 0 0; 
    }

    .profile-right{ width: 74.4680851%; } /* 700/940 */

    .user-exp-summary, .edit-form{ width: 67.1875%; } /* 430/640(700-60 in padding) */

    .user-exp-info, .edit-list{ width: 29.6875%; } /* 190/640(700-60 in padding) */

}

@media screen and (max-width: 768px){

    .wrapper{
        width: auto;
        margin: 0 10px;
    }

    .signup, .login, .activate{
        width: 60%;
        margin: 0 0 0 20%;
    }

    #message h1, #fa-future h1{ font-size: 1.5em; }

    #user-links ul li{ margin: 0 20px 6px 0; }

    #user-skills ul li{ margin: 0 5px 5px 0; }

    .fa-form{ width: 100%; }

    .artist-search{ width: 50%; }

    ul.artist-group li.artist-profile{
        width:28.125%;
        margin: 0 2.6041666% 20px 2.6041666%;
    }

}

@media screen and (max-width: 480px){

    #admin-bar{ background: #262626; }

    #admin-bar ul.admin a{
        height: 24px;
        padding: 12px 10px 0 10px;
        font-size: 0.75em;
    }

    .search-form{ width: 140px; }

    a#logo{
        float: none;
        margin: 0 auto;
    }

    #header ul.nav{
        float: none;
        margin: 18px 0 0;
        border-top: 1px solid #e5e5e5;
        border-right: none;
    }

    #header ul.nav li{ float: none; }

    #header ul.nav a{
        width: 100%;
        padding: 9px 0;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #e5e5e5;
    }

    .home-signup, .signup, .login{
        float: none;
        width: 100%;
        margin: 0;
    }

    .home-form input[type=submit]{
        width: 100%;
    }

    #message h1, #fa-future h1{ line-height: 1.25em; }

    #home-content h2{ text-align: center; }

    .profile-feature{
        display: none;
    }

    .fa-phase{
        float: none;
        width: 220px;
        margin: 24px auto;
    }

    .fa-phase p{
        font-size: 0.75em;
        font-weight: normal;
    }

    .phase-img{
        width: 100%;
        margin: 0;
    }

    .login, .activate{
        width: 100%;
        margin: 0;
    }

    ul.artist-group li.artist-profile{
        width: 41.6666666%;
        margin: 0 4.1666666% 20px 4.1666666%;
    }

    #user-images li, #user-share li{
        float: none;
        margin: 0 0 5px 0;
    }

    #user-images li{
        width: 100%;
    }

    #user-video li{
        font-size: 0.75em;
        font-weight: normal;
    }

    .profile-right{
        padding: 20px;
    }

    .profile-right-section{
        margin: 0 0 20px 0;
    }

    .profile-right h1{
        font-size: 1.5em;
    }

    #user-info ul li{
        font-size: 0.75em;
        font-weight: normal;
    }

    #user-links ul li{
        float: none;
        margin: 0 0 6px 0;
    }

    .user-exp-summary, .user-exp-info{ 
        float: none;
        width: 100%; 
    }

    .user-exp-info{ margin: 18px 0 0; }

    #edit-profile h3{
        font-size: 0.875em;
        font-weight: normal;
    }

    #edit-profile a{
        display: block;
        height: 14px;
        padding: 2px 0 0 26px;
        font-size: 0.75em;
        font-weight: normal;
    }

    ul.views li{
        font-size: 0.75em;
        font-weight: normal;
    }

    .fa-edit-form{ margin: 20px 0 0; }

    .edit-list h5{ padding: 20px 0 6px; }

    .edit-list li{ font-size: 0.75em; }

    .fa-edit-form input[type=submit]{
        float: none;
        width: 100%;
    }

    .fa-edit-form input#delete-btn, a.grey-btn{
        float: none;
        width: 100%;
        margin: 6px 0 0;
    }

    #footer{ text-align: center}

    #footer ul.footer-nav{
        float: none;
        width: 243px;
        height: 28px;
        margin: 0 auto;
    }

    #footer ul.social-links{
        float: none;
        margin: 18px auto;
        width: 192px;
        height: 54px;
    }

    #footer ul.social-links li{ margin: 0 5px; }

}

/* profile item counter */
.profile-item-counter {
    font-size: 0.4em;
    font-weight: normal;
    float: right;
    color: #999;
    text-transform: capitalize;
}

/*artists hover content*/
.contenthover { padding:20px 20px 10px 20px; border-radius: 10px;}
.contenthover, .contenthover h3, contenthover a { color:#fff; }
.contenthover h3, .contenthover p { margin:0 0 10px 0; line-height:1.4em; padding:0;}
.contenthover h3 {  font-size: 14px; font-weight: bold; }
.contenthover p {  font-size: 12px; }    
.contenthover a.mybutton { display:block; float:left; margin-left: 35px; padding:5px 10px; background:#3c9632; color:#fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.contenthover a.mybutton:hover { background:#34742d;}

/*search artists*/
#searchForm {
    /*background: url("../images/bgInputT.jpg") no-repeat scroll 0 0 transparent;*/
    background-color: #fff;
    border-radius: 10px 0px 0px 10px;
    float: left;
    height: 30px;
    width: 495px;
}

#searchForm{
    font-size: 11px;
    float: right;
}

#searchForm .search-input {
    background: url("../images/inputVer.jpg") no-repeat scroll right center transparent;
    float: left;
    height: 30px;
    width: 256px;
}
#searchForm .search-input input {
    background-color: transparent;
    border: 0 none;
    color: #5A5A5A;    
    margin: 2px 0 0 6px;
    outline-style: none;
    width: 245px;
    font-size: 11px;
}

#searchForm .search-change {
    float: left;
    line-height: 30px;
}

#searchForm .location-name {
    float: left;    
    padding-left: 10px;
    width: 140px;
}

#searchForm .change-location {
    float: left;
    cursor: pointer;    
    font-weight: bold;
}



#searchForm .search-button {
    float: right;
    width: 31px;
}

#searchForm .search-button a{
    background: url("../images/btmSearch.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    text-decoration: none;
    width: 31px;    
    /*margin-left: 15px;*/
}

/*tooltip*/
.tooltip{
    background-color: #662D91;
    border: 1px solid #662D91;
    color: #303030;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding: 5px;
    position: absolute;
    text-align: center;
    z-index: 1000;
    border-radius: 5px 5px 5px 5px;
    color: white;
    width: 144px;
}

#searchForm .tooltip{
    position: fixed;
}

#locationPopup{
    max-width: 600px;
    min-height: 100px;
}

#locationPopup table{
    width: 500px;
}

#locationPopup table th{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}

#locationPopup table td{
    padding-left: 2px;
}

#locationPopup table td:last-child{
    padding-left: 10px;
}

#locationPopup select{
    width: 100%;
    padding: 6px;
    color: #662d91;
    border: 1px solid #e5e5e5;
    background: #ffffff;
    margin: 6px 0 12px 0;
    min-width: 150px;
    max-width: 250px;
}


/*donation button*/

#donation {
    bottom: 40px;
    height: 250px;
    left: 0;
    padding: 0;
    position: fixed;
    top: 200px;
    width: 50px;
    z-index: 100
}

/*#donation a {
    background: url("../images/donation.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    height: 200px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    width: 30px;
}*/

#donation .button {
    display:block;
    width:40px;
    height:250px;
    text-indent:-9999px;
}
#donation .button a {
    display:block;
    width:100%;
    height:100%;
    background:url(../images/donation.png) no-repeat top left;
    outline:none;
}
#donation .button a:hover {
    background-position:top right;
}

/* Your Social Network*/

div.social-networks{
    width: 640px; 
    clear: both;
}

div.social-networks label{
    width: 35px;
    float: left;
    margin-right: 5px;
}

div.social-networks input[type="text"]{
    width: 600px;
    float: left;
    position: relative;
    margin-top: 2px;
}

div.social-networks .another_link{
    width: 600px;
    margin-left: 40px;
}

/*Homepage Phase*/
/*
div.phase{
    width:280px;
    height: auto;
    float: left;
    position: relative;
    margin: 20px 0px 0px 0px;
    color: #fff;
}

div.phase h2,
div.phase li{
    color: #fff;
}

div.phase_no h2,
div.phase_no li{
    color: #999;
}

div.phase div#phase-header{
    background:url(../images/progress_header.png) no-repeat top left;
    height: 23px;
}

div.phase_no div#phase-header{
    background:url(../images/progress_header_no.png) no-repeat top left;
    height: 23px;
}

div.phase div#phase-body{
    min-height: 50px;
    background-color: #663399;
    min-height: 200px;
}

div.phase_no div#phase-body{
    background-color: #3a3b3f;
}

div.phase div#phase-body{
    padding: 10px;
    text-align: left;
}

div.phase div#phase-body h2{
    margin: 0px 0px 20px 20px;
}

div.phase div#phase-body ul{
    font-size: 0.875em;
    list-style: circle;
    text-align: left;
}

div.phase div#phase-body ul li{
    margin: 10px 0px 0px 20px;
    font-size: 0.875em;
}

div.phase div.footer_phase_1{
    background:url(../images/progress_footer.png) no-repeat top left;
    height: 60px;
}

div.phase div.footer_phase_2{
    background:url(../images/progress_footer_2.png) no-repeat top left;
    height: 60px;
}

div.phase div.footer_phase_3{
    background:url(../images/progress_footer_3.png) no-repeat top left;
    height: 60px;
}

div.phase_no div.footer_phase_no_1{
    background:url(../images/progress_footer_no.png) no-repeat top left;
    height: 60px;
}

div.phase_no div.footer_phase_no_2{
    background:url(../images/progress_footer_no_2.png) no-repeat top left;
    height: 60px;
}

div.phase_no div.footer_phase_no_3{
    background:url(../images/progress_footer_no_3.png) no-repeat top left;
    height: 60px;
}

div#phase-forward{
    background:url(../images/progress_forward.png) no-repeat scroll 0 0 transparent;
    float: left;
    margin: 130px 16px;
    position: relative;
    width: 16px;
    height: 50px;
}

.sexy_line{
    display:block;
    border:none;
    color:white;
    height:1px;
    background:#CCCCCC;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#ccc));
    background: -moz-linear-gradient(top, #000, #ccc);
    margin-bottom: 20px;
}
*/
.fa-phase{
    position: relative;
    float: left;
    width: 300px;
    margin: 0px 0px 0 0;
}

.fa-phase p{
    font-size: 0.875em;
    line-height: 150%;
    margin: 18px 0 0;
}

.phase-img{
    width: 220px;
    height: 220px;
    margin: 0 40px;
    /*background: url("../images/home-circle.png") no-repeat;*/
}

div.fa-phase{
    margin-top: 30px;
}

div.fa-phase ul{
    margin-top: 30px;
    font-size: 0.875em;
    list-style: circle;
    text-align: left;
}

div.fa-phase ul li{
    margin: 10px 0px 0px 55px;
    font-size: 0.875em;
    color: #7835AB;
    font-weight: bold;
}

div.fa-phase ul.text-white li{
    color: #fff;
}

div.fa-phase ul.text-smoke li{
    color: #666;
    font-weight: normal;
}


div.phase-forward{
    background:url(../images/progress_forward.png) no-repeat scroll 0 0 transparent;
    float: left;
    margin: 130px 0px;
    position: relative;
    width: 16px;
    height: 50px;
}

div.phase-current{
    background:url(../images/progress_forward_light.png) no-repeat scroll 0 0 transparent;    
}



#footer-message{
    padding: 18px 0;
    position: relative;
    /*width: 100%;*/
    min-height: 40px;
    color: #fff;    
    background-color: #555;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


#footer-message .group-button {
    margin-left: 50px;
}

#footer-message .button {
    width: 350px;
    margin: 20px auto;
    float: left;
    position: relative;
    margin-left: 40px;
}

#footer-message .button a {
    display: block;
    height: 50px;
    width: 350px;

    /*TYPE*/
    color: white;
    font: 17px/50px Helvetica, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    /*text-transform: uppercase;*/

    /*GRADIENT*/  
    background: #00b7ea; /* Old browsers */
    background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
    background: linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}

#footer-message .button a {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

#footer-message .button .pdf {
    min-width: 48px;
    min-height: 48px;
    background: url("../images/pdf.png") no-repeat scroll 5px 10px transparent;
    display: inline-block;
}

#footer-message .button .video {
    min-width: 48px;
    min-height: 48px;
    background: url("../images/video.png") no-repeat scroll 5px 10px transparent;
    display: inline-block;
}

#footer-message p {
    background: #222;
    display: block;
    height: 40px;
    width: 180px; 
    margin: -50px 0 0 10px;

    /*TYPE*/
    text-align: center;
    font: 12px/45px Helvetica, Verdana, sans-serif;
    color: #fff;

    /*POSITION*/
    position: absolute;
    z-index: -1;

    /*TRANSITION*/  
    -webkit-transition: margin 0.5s ease;
    -moz-transition: margin 0.5s ease;
    -o-transition: margin 0.5s ease;
    -ms-transition: margin 0.5s ease;
    transition: margin 0.5s ease;
}

/*HOVER*/
#footer-message .button a:hover {
    background: #00b7ea; /* Old browsers */
    background: -moz-linear-gradient(top,  #00b7ea 36%, #009ec3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00b7ea 36%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00b7ea 36%,#009ec3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00b7ea 36%,#009ec3 100%); /* IE10+ */
    background: linear-gradient(top,  #00b7ea 36%,#009ec3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}


/*Form validation*/
span.form-error {
    font-size: small; 
    position: absolute; 
    margin: 15px 0px 0px 10px;
}

span.form-error p{
    color: #da3e0e;
}

div#home-afterlogin-content .home-signup {
    width: 450px;
}


div#home-afterlogin-content .profile-feature {
    box-shadow: none;
    width: 450px;
}
/*
div#home-afterlogin-content .profile-feature h1{
    color: #FFFFFF;
    font: 22px "Trebuchet MS",Arial,Helvetica,sans-serif;
    padding-bottom: 10px;
}

div#home-afterlogin-content .profile-feature h2{
    background: url("../images/blt-arrow.gif") no-repeat scroll left center transparent;    
    font: 20px Arial,Helvetica,sans-serif;
    margin: 0 0 4px 18px;
    padding-left: 24px;
}

div#home-afterlogin-content .profile-feature h2 a {
    color: #fff;
}
*/

div#home-afterlogin-content .home-signup h1,
div#home-afterlogin-content .home-signup h2 {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    color: #D6D6D6;
    font-size: 22px;
    font-style: italic;
    line-height: 1.3;
    margin-top: 7px;
    padding-bottom: 6px;
    text-align: left;
    text-transform: none;
}

div#home-afterlogin-content .home-signup h1{
    font-size: 24px;
}


div#home-afterlogin-content .profile-feature ul,li{
    list-style:none;
}
div#home-afterlogin-content .profile-feature ul{
    overflow:hidden;
    padding:10px 3em 20px 3em;
}
div#home-afterlogin-content .profile-feature ul li span{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10.5em;
    width:300px;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
}
div#home-afterlogin-content .profile-feature ul li a{
    text-decoration: none;
    color: #666666;
}

div#home-afterlogin-content .profile-feature ul li{
    margin:1em;
    float:left;
}
div#home-afterlogin-content .profile-feature ul li h2{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size:18px;
    font-weight:bold;
    padding-bottom:10px;
    color: #333333;
    text-shadow: none;
}
div#home-afterlogin-content .profile-feature ul li p{
    /*font-family:"Reenie Beanie",arial,sans-serif;*/
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    background: url("../images/arrow_1_dot.png") no-repeat scroll left center transparent;    
    font: 15px Arial,Helvetica,sans-serif;
    padding-left: 24px;
    /*font-size:14px;*/
    color: #666666;
    line-height: 20px;
}

div#home-afterlogin-content .profile-feature ul li span{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
}
div#home-afterlogin-content .profile-feature ul li:nth-child(even) span{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
    position:relative;
    top:5px;
    background:#cfc;
}
div#home-afterlogin-content .profile-feature ul li:nth-child(3n) span{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
}
div#home-afterlogin-content .profile-feature ul li:nth-child(5n) span{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
}
div#home-afterlogin-content .profile-feature ul li span:hover,ul li span:focus,
div#home-afterlogin-content .profile-feature ul li span.active{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);

    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);



    position:relative;
    z-index:5;
}
div#home-afterlogin-content .profile-feature ol{text-align:center;}
div#home-afterlogin-content .profile-feature ol li{display:inline;padding-right:1em;}
div#home-afterlogin-content .profile-feature ol li a{color:#fff;}

/*Nav list*/
.well {
    min-height: 20px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.edit-list li a{
    color: #0088CC;
    text-decoration: none;
}

.edit-list li.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.edit-list .nav-list {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
}

.edit-list .nav-list > li > a,
.edit-list .nav-list .nav-header {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.edit-list .nav-list > li > a {
    padding: 3px 15px;
}

.edit-list .nav-list > .active > a,
.edit-list .nav-list > .active > a:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}

.edit-list .nav-list .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

/*experience box*/
.experience-box:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.student_level:after {
    content: "Student Level";
}

.performing_level:after {
    content: "Performing Level";
}

.teaching_level:after {
    content: "Teaching Level";
}

.experience-box {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 0px 14px 14px;
    position: relative;
}

/*date block*/
div.dateblock{
    line-height: 1.8em;
    width: 80px;
    /*float: left;*/
    margin-top: 0px;
    background: #F3F3F3;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    color: #aaa;
    /*position: absolute;*/
    text-align: center;
    margin-right: 10px;
    letter-spacing: 0.17em;
    font-family: Arial, Verdana, sans;
    padding: 1px;
}
span.dateblock_mon{
    font-size: 14px;
    display: block;
    text-align: center;
    color: #999;
    font-family: Georgia, Arial, Verdana, sans;
}
span.dateblock_day{
    font-weight: bold;
    font-size: 22px;
    display: block;
    font-family: Georgia, Arial, Verdana, sans;
    text-align: center;
    position: relative;
    top: -1px;
    color: #336;
}
span.dateblock_year{
    font-size: 14px;
    display: block;
    text-align: center;
    color: #999;
    font-family: Georgia, Verdana, Arial, sans;
}

/*override Jquery UI*/
.ui-widget {
    font-family: inherit;
    font-size: 16px;
}


/*about*/
.accordionButton {
    display:block;
    font-size:30px;
    font-family:'KomikaAxisRegular', Helvetica, sans-serif;
    color:#666;
    margin-bottom:10px;
    padding-bottom:20px;
    width:40%;
    border-bottom:1px dashed #969491;
    cursor:pointer;
    padding-top:4px;
    padding-left:60px;
}

.accordionContent {
    display:block;
    padding:15px 0 15px 0 !important;
    margin-right: 40px; 
}


.accordionContent #resources ol li,
.accordionContent h3,
.accordionContent p{
    color: #333333;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    text-shadow: 1px 1px 0 #FFFFFF;
}

/* LIST #2 */
.accordionContent #resources{ }
.accordionContent #resources ol { margin-left: 40px; margin-top: 20px; font-style:italic;}
.accordionContent #resources ol li { list-style: decimal;}
.accordionContent #resources ol li p { padding:8px; font-style:normal; border-left: 1px solid #999; font-size: 15px;}
.accordionContent #resources ol li p em { display:block; font-style:italic;}


.accordionContent h3{
    font-weight: bold;
    font-size: 20px;
}
.about_me .accordionButton {
    background-image:url("../images/about_bubble.png");
    background-repeat:no-repeat;
    display:block;
    text-shadow:1px 1px 0px #fff;
    -webkit-transition: all 0.5s ease;  
    -moz-transition: all 0.5s ease;    
    -o-transition: all 0.5s ease;    
    -ms-transition: all 0.5s ease;    
    transition: all 0.5s ease;
}

.about_me .on, .about_me .accordionButton:hover {
    background-image:url("../images/about_bubble_hover.png");
    background-repeat:no-repeat;
    display:block;
    color:#b63e2d;
    text-shadow:1px 1px 0px #fff;
}

.portfolio_section .accordionButton {
    background-image:url("../images/portfolio_bubble.png");
    background-repeat:no-repeat;
    display:block;
    text-shadow:1px 1px 0px #fff;
    -webkit-transition: all 0.5s ease;  
    -moz-transition: all 0.5s ease;    
    -o-transition: all 0.5s ease;    
    -ms-transition: all 0.5s ease;    
    transition: all 0.5s ease;
}

.portfolio_section .on, .portfolio_section .accordionButton:hover {
    background-image:url("../images/portfolio_bubble_hover.png");
    background-repeat:no-repeat;
    display:block;
    color:#b63e2d;
    text-shadow:1px 1px 0px #fff;
}

/*Book talent*/
.book-talent{
    font: 14px "Trebuchet MS", Arial, Helvetica, Sans-Serif;
    position: relative;
    float: left;
    width: 100%;
    margin: 0px 0px 0px 100px;
    padding: 20px 30px 24px 30px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 5px #cccccc;
    background: #ffffff;
    width:680px;
}

.book-talent h3{
    margin:0;    
    color:#F1592A;
    font-size:26px;
    padding: 20px 0px;
    border-bottom:none;
}

.book-talent #contact-number{
    float: right;
    background: url(../images/phone_contact.png) no-repeat top left;
    padding: 0px 0px 0px 20px;
    height: 32px;
    width: 120px;
}

.book-talent #contact-number span{
    padding: 5px 0px 0px 15px;
    position: absolute;
    font-weight: bold;
}

.booktalent-form{
    margin:1em 0;
    width:100%; /* customize width, this form have fluid layout */
    color:#fff;
}
		
				
.booktalent-form fieldset{
    margin: 0;
    padding:0;
    border:none;	
    padding-bottom:1em;
}	

.booktalent-form fieldset .control:last-child{
    margin-bottom: 10px;
}
.booktalent-form legend{width: 100%;border: 1px solid #662D91; background-color: #662D91; margin-top: 20px; height: 40px;}	
.booktalent-form legend span{margin: 10px auto auto 20px;position: absolute;}	
.booktalent-form .control{margin: 10px 20px 0px 20px; position: relative; color: #000; width: 280px; float: left;}

.booktalent-form label{display:block;}	
.booktalent-form input[type="text"], .booktalent-form textarea, .booktalent-form select{		
    width:272px;
    padding: 10px;
  
}		
.booktalent-form textarea{
    height:125px;
    overflow:auto;
}					
	
				
.booktalent-form .clear_both{width: 100%; clear: both;}
.booktalent-form .clear_both input[type="text"],.booktalent-form .clear_both textarea,.booktalent-form .clear_both select{width: 600px; clear: both;}

.booktalent-form .button-link {    
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.booktalent-form .button-link:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.booktalent-form .button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

div#user-class div.class_name{
    float:left;
    margin-top:10px;
    width:100%;
}

div#user-class div.class_paypal{
    text-align: center;
}

div.class_name div.class_detail{
    border-bottom: 1px dashed #999999;
    margin: 20px 0 5px;
    padding: 5px 0 10px;
}
div.class_name div.class_description{
    margin: 5px 0 5px;
    padding: 5px 0 10px;
    line-height: 16px;
    font-size: 13px;
}
.class_name span {
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
    padding-bottom: 5px;
}