.listTable {
	font: 10pt Calibri, Arial, sans-serif;
	width: 100%;
	border: 1px solid #bed1df;
	border-width: 1px 0 0 1px;
	margin: 1em 0;
}
.listTable td, .listTable th {
	padding: 0.3em 1em;	
	color: #000;
	border: 1px solid #bed1df;	
	border-width: 0 1px 1px 0;	
}
.listTable th {
	background: url(../images/tableheader.png) 0 0 repeat-x #f4f9fe;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
}
.listTable tr.altRow td {
	background: #e7f1f8;
}
.listTable a {
	text-decoration: underline;
}
.highlight tr:hover td, .highlight tr:hover.altRow td {
	background: #FCFFC9;
	border-bottom-color: #EED328;
}

.slide-out-div {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #999999;
    clear: both;
    padding: 10px 3px;
    width: 193px;
}
.slide-out-div-top {
    float: right;
    margin-bottom: -35px;
    margin-right: -2px;
    position: relative;
    text-align: right;
    top: -43px;
    width: 100%;
}
.slide-out-div-top img {
    border: 0 none;
}
#recently-post {
    bottom: 40px;
    height: 250px;
    right: 0;
    padding: 0;
    position: fixed;
    top: 200px;
    width: 50px;
    z-index: 100;
}

#recently-post a:hover {
    background-position:top right;
}