<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="css.css" />
</head>

<body>
<div style="width:50%;float:left;text-align:center">
<input type="text" style="margin: 3px 0px;"/>
<label>Skill level</label>
<input type="text" style="margin: 3px 0px;"/>
<label>Cost</label>
<input type="text" style="margin: 3px 0px;"/>
<label>Spots Filled</label>
</div>
<div style="width:30%;float:right">
<a href="#" class="button" style="background-color: #4B216A;float: left;margin-left: 30px;padding:4px; margin-bottom: 10px;"><img src="star.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;margin-left: 30px;padding:8px; margin-bottom: 10px;"><img src="24_comment_square.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;margin-left: 30px;padding:4px"><img src="down_right2.png" /></a>
</div>
</body>
</html>
