<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="css.css" />
</head>

<body>
<div style="width:50%;float:left;">
<a href="#" class="button" style="background-color: #4B216A;float: left;margin-left: 30px; margin-bottom: 10px;padding: 4px;"><img src="http://png-4.findicons.com/files/icons/2212/carpelinx/32/camera_test.png" /></a>
<a href="#" class="button" style="background-color: #F1592A;float: left;margin-left: 30px;padding:4px; margin-top: 50px;"><img src="http://png.findicons.com/files/icons/557/creme/32/delete.png" /></a>
</div>
<div style="width:42%;float:right">
<a href="#" class="button" style="background-color: #4B216A;float: left;margin-left: 30px; margin-bottom: 10px;padding: 11px 7px;text-decoration: none;font-size: 12px;font-weight: bold;">ADD</a>
<a href="#" class="button" style="background-color: #4B216A;float: left;margin-left: 30px;padding:8px; margin-bottom: 10px;"><img src="http://png-5.findicons.com/files/icons/1666/sweetie_webcommunication/24/24_comment_square.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;margin-left: 30px;padding:4px"><img src="http://png-2.findicons.com/files/icons/2226/matte_basic/32/down_right2.png" /></a>
</div>
</body>
</html>
