<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Artists | Flow Artz</title>
	<meta name="keywords" content="Flow Artz, Edmonton, Flow, Prop, Community, Arts" />
	<meta property="og:description" content="Flow Artz is a collaborative organization that seeks to network all forms of art, movement and flow to one location, inviting teachers and students globally to help educate and inspire the world." />
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<script src="http://flowartz.dev:8080/template/js/jquery.min.js"></script> 
         <link rel="stylesheet" href="http://flowartz.dev:8080/template/css/jquery.fancybox.css" type="text/css" media="screen" />
		 <script type="text/javascript" src="http://flowartz.dev:8080/template/js/jquery.fancybox.js"></script>
                <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css" type="text/css" media="all" /> 
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://flowartz.dev:8080/template/css/flowartz-core.css?" />
		<link rel="stylesheet" type="text/css" href="css.css" />
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="http://flowartz.dev:8080/template/css/flowartz-core-ie7.css?" />
	<![endif]-->
	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="http://flowartz.dev:8080/template/css/flowartz-core-ie8.css?" />
	<![endif]-->
	
	<link href="http://flowartz.dev:8080/template/images/favicon.ico?" rel="icon"/>
	<![if ! IE]>
	<link href="http://flowartz.dev:8080/template/images/favicon.png?" rel="shortcut icon"/>
	<![endif]>
<script>
$(document).ready(function() {
	$(".various").fancybox({
		maxWidth	: 220,
		maxHeight	: 300,
		fitToView	: false,
		width		: '40%',
		height		: '30%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
</script>
       
</head>
<body>

<div id="header">
	<div class="wrapper clearfix">
		<a href="http://flowartz.dev:8080/" id="logo"><img src="http://flowartz.dev:8080/template/images/fa-logo.png" alt="Flow Artz Distribution & Development" /></a>
		
	</div>
	<!-- end of header wrapper div -->
</div>
<!-- end of header div -->
<div class="content">
    <div class="wrapper clearfix">
	<div class="menu-nav">
<ul class="nav">
			<li><a href="http://flowartz.dev:8080/" style="border-left:0 none">Music</a></li>
			<li><a href="http://flowartz.dev:8080/artists">Dance</a></li>
			<li><a href="http://flowartz.dev:8080/book_talent">Prop + Circus</a></li>
			<li><a href="http://flowartz.dev:8080/about">Digital</a></li>
			<li><a href="http://flowartz.dev:8080/about">Martial</a></li>
			<li><a href="http://flowartz.dev:8080/about">Traditional</a></li>
		</ul>
		</div>
		
		<div>
	   <div style="width:50%;text-align:center;float:left">
	
	   <div>Text</div>
	   </div>
	   <div style="width:50%;float:right;text-align:center" class="totalEn">
	   <div style="">
<a class="button" href="#" style="margin: 0;">Select a category arove or search for workshop</a>
	   </div>
	   <div style="margin-top:25px"><input type="text" value="" placeholder="Search"></div>
	  
	   </div>
	   </div>
		
		
	   	     <div style="border-top: 1px solid #bbb;display: inline-block;padding: 20px 0;text-align:center">
			 <a class="button orange" href="#" style="margin: 0;">Host a workshop</a>
		 <span style="font-weight:bold;font-size:20px">or check out some of these workshop</span>
	       <ul class="artist-group fea-group" style="border-radius:10px;border:1px solid #ccc;margin-top:25px;background:#fff">
                           <li class="artist-profile rotate" style="width:20px;font-weight: bold;margin-top: 90px;">Featured</li> 
                    <li class="artist-profile artist-border" style="padding:5px;margin: 0 8px 20px;">
                        <div class="ch_normal">
						<div style="width:50%;float:left;text-align:center">
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Skill level</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Cost</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Spots Filled</label>
</div>
<div style="width:30%;float:right">
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:4px; margin-bottom: 10px;"><img src="star.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:8px; margin-bottom: 10px;"><img src="24_comment_square.png" /></a>
<a href="iframe2.html" data-fancybox-type="iframe" class="various button" style="background-color: #4B216A;float: left;padding:4px"><img src="down_right2.png" /></a>
</div>

</div>                      
                        <!-- end of artist div -->
                    </li>

                                  <li class="artist-profile artist-border" style="padding:5px;margin: 0 8px 20px;">
                        <div class="ch_normal">
						<div style="width:50%;float:left;text-align:center">
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Skill level</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Cost</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Spots Filled</label>
</div>
<div style="width:30%;float:right">
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:4px; margin-bottom: 10px;"><img src="star.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:8px; margin-bottom: 10px;"><img src="24_comment_square.png" /></a>
<a href="iframe2.html" data-fancybox-type="iframe" class="various button" style="background-color: #4B216A;float: left;padding:4px"><img src="down_right2.png" /></a>
</div>

</div>                      
                        <!-- end of artist div -->
                    </li>
					                       <li class="artist-profile artist-border" style="padding:5px;margin: 0 8px 20px;">
                        <div class="ch_normal">
						<div style="width:50%;float:left;text-align:center">
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Skill level</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Cost</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Spots Filled</label>
</div>
<div style="width:30%;float:right">
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:4px; margin-bottom: 10px;"><img src="star.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:8px; margin-bottom: 10px;"><img src="24_comment_square.png" /></a>
<a href="iframe2.html" data-fancybox-type="iframe" class="various button" style="background-color: #4B216A;float: left;padding:4px"><img src="down_right2.png" /></a>
</div>

</div>                      
                        <!-- end of artist div -->
                    </li>
					                         <li class="artist-profile artist-border" style="padding:5px;margin: 0 8px 20px;">
                        <div class="ch_normal">
						<div style="width:50%;float:left;text-align:center">
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Skill level</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Cost</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Spots Filled</label>
</div>
<div style="width:30%;float:right">
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:4px; margin-bottom: 10px;"><img src="star.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:8px; margin-bottom: 10px;"><img src="24_comment_square.png" /></a>
<a href="iframe2.html" data-fancybox-type="iframe" class="various button" style="background-color: #4B216A;float: left;padding:4px"><img src="down_right2.png" /></a>
</div>

</div>                      
                        <!-- end of artist div -->
                    </li>
 
                                    </ul>
									
									  <ul class="artist-group fea-group" style="border-radius:10px;border:1px solid #ccc;margin-top:25px;background:#fff">
                           <li class="artist-profile rotate" style="width:20px;font-weight: bold;margin-top:80px;">Nearby</li> 
                      <li class="artist-profile artist-border" style="padding:5px;margin: 0 8px 20px;">
                        <div class="ch_normal">
						<div style="width:50%;float:left;text-align:center">
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Skill level</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Cost</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Spots Filled</label>
</div>
<div style="width:30%;float:right">
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:4px; margin-bottom: 10px;"><img src="star.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:8px; margin-bottom: 10px;"><img src="24_comment_square.png" /></a>
<a href="iframe2.html" data-fancybox-type="iframe" class="various button" style="background-color: #4B216A;float: left;padding:4px"><img src="down_right2.png" /></a>
</div>

</div>                      
                        <!-- end of artist div -->
                    </li>

                                  <li class="artist-profile artist-border" style="padding:5px;margin: 0 8px 20px;">
                        <div class="ch_normal">
						<div style="width:50%;float:left;text-align:center">
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Skill level</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Cost</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Spots Filled</label>
</div>
<div style="width:30%;float:right">
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:4px; margin-bottom: 10px;"><img src="star.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:8px; margin-bottom: 10px;"><img src="24_comment_square.png" /></a>
<a href="iframe2.html" data-fancybox-type="iframe" class="various button" style="background-color: #4B216A;float: left;padding:4px"><img src="down_right2.png" /></a>
</div>

</div>                      
                        <!-- end of artist div -->
                    </li>
					                       <li class="artist-profile artist-border" style="padding:5px;margin: 0 8px 20px;">
                        <div class="ch_normal">
						<div style="width:50%;float:left;text-align:center">
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Skill level</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Cost</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Spots Filled</label>
</div>
<div style="width:30%;float:right">
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:4px; margin-bottom: 10px;"><img src="star.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:8px; margin-bottom: 10px;"><img src="24_comment_square.png" /></a>
<a href="iframe2.html" data-fancybox-type="iframe" class="various button" style="background-color: #4B216A;float: left;padding:4px"><img src="down_right2.png" /></a>
</div>

</div>                      
                        <!-- end of artist div -->
                    </li>
					                         <li class="artist-profile artist-border" style="padding:5px;margin: 0 8px 20px;">
                        <div class="ch_normal">
						<div style="width:50%;float:left;text-align:center">
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Skill level</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Cost</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Spots Filled</label>
</div>
<div style="width:30%;float:right">
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:4px; margin-bottom: 10px;"><img src="star.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:8px; margin-bottom: 10px;"><img src="24_comment_square.png" /></a>
<a href="iframe2.html" data-fancybox-type="iframe" class="various button" style="background-color: #4B216A;float: left;padding:4px"><img src="down_right2.png" /></a>
</div>

</div>                      
                        <!-- end of artist div -->
                    </li>
 
                                    </ul>
									
									  <ul class="artist-group fea-group" style="border-radius:10px;border:1px solid #ccc;margin-top:25px;background:#fff">
                           <li class="artist-profile rotate" style="width:20px;font-weight: bold;margin-top:75px;">Soon</li> 
                       <li class="artist-profile artist-border" style="padding:5px;margin: 0 8px 20px;">
                        <div class="ch_normal">
						<div style="width:50%;float:left;text-align:center">
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Skill level</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Cost</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Spots Filled</label>
</div>
<div style="width:30%;float:right">
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:4px; margin-bottom: 10px;"><img src="star.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:8px; margin-bottom: 10px;"><img src="24_comment_square.png" /></a>
<a href="iframe2.html" data-fancybox-type="iframe" class="various button" style="background-color: #4B216A;float: left;padding:4px"><img src="down_right2.png" /></a>
</div>

</div>                      
                        <!-- end of artist div -->
                    </li>

                                  <li class="artist-profile artist-border" style="padding:5px;margin: 0 8px 20px;">
                        <div class="ch_normal">
						<div style="width:50%;float:left;text-align:center">
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Skill level</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Cost</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Spots Filled</label>
</div>
<div style="width:30%;float:right">
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:4px; margin-bottom: 10px;"><img src="star.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:8px; margin-bottom: 10px;"><img src="24_comment_square.png" /></a>
<a href="iframe2.html" data-fancybox-type="iframe" class="various button" style="background-color: #4B216A;float: left;padding:4px"><img src="down_right2.png" /></a>
</div>

</div>                      
                        <!-- end of artist div -->
                    </li>
					                       <li class="artist-profile artist-border" style="padding:5px;margin: 0 8px 20px;">
                        <div class="ch_normal">
						<div style="width:50%;float:left;text-align:center">
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Skill level</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Cost</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Spots Filled</label>
</div>
<div style="width:30%;float:right">
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:4px; margin-bottom: 10px;"><img src="star.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:8px; margin-bottom: 10px;"><img src="24_comment_square.png" /></a>
<a href="iframe2.html" data-fancybox-type="iframe" class="various button" style="background-color: #4B216A;float: left;padding:4px"><img src="down_right2.png" /></a>
</div>

</div>                      
                        <!-- end of artist div -->
                    </li>
					                         <li class="artist-profile artist-border" style="padding:5px;margin: 0 8px 20px;">
                        <div class="ch_normal">
						<div style="width:50%;float:left;text-align:center">
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Skill level</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Cost</label>
<input type="text" style="margin: 3px 0px;width:100%"/>
<label>Spots Filled</label>
</div>
<div style="width:30%;float:right">
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:4px; margin-bottom: 10px;"><img src="star.png" /></a>
<a href="#" class="button" style="background-color: #4B216A;float: left;padding:8px; margin-bottom: 10px;"><img src="24_comment_square.png" /></a>
<a href="iframe2.html" data-fancybox-type="iframe" class="various button" style="background-color: #4B216A;float: left;padding:4px"><img src="down_right2.png" /></a>
</div>

</div>                      
                        <!-- end of artist div -->
                    </li>
 
                                    </ul>
	   </div>
    </div>
    <!-- end of content wrapper div -->
</div>

</body>
</html>
