<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Artists | Flow Artz</title>
	<meta name="keywords" content="Flow Artz, Edmonton, Flow, Prop, Community, Arts" />
	<meta property="og:description" content="Flow Artz is a collaborative organization that seeks to network all forms of art, movement and flow to one location, inviting teachers and students globally to help educate and inspire the world." />
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />

                <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css" type="text/css" media="all" /> 
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://flowartz.dev/template/css/flowartz-core.css?" />
		<link rel="stylesheet" type="text/css" href="css.css" />
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="http://flowartz.dev/template/css/flowartz-core-ie7.css?" />
	<![endif]-->
	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="http://flowartz.dev/template/css/flowartz-core-ie8.css?" />
	<![endif]-->
	
	<link href="http://flowartz.dev/template/images/favicon.ico?" rel="icon"/>
	<![if ! IE]>
	<link href="http://flowartz.dev/template/images/favicon.png?" rel="shortcut icon"/>
	<![endif]>

</head>
<body>

<div id="header">
	<div class="wrapper clearfix">
		<a href="http://flowartz.dev/" id="logo"><img src="http://flowartz.dev/template/images/fa-logo.png" alt="Flow Artz Distribution & Development" /></a>
		
	</div>
	<!-- end of header wrapper div -->
</div>
<!-- end of header div -->
<div class="content">
    <div class="wrapper clearfix">
	<div class="menu-nav">
<ul class="nav">
			<li><a href="" style="border-left:0 none">Music</a></li>
			<li><a href="">Dance</a></li>
			<li><a href="">Prop + Circus</a></li>
			<li><a href="http://flowartz.dev/about">Digital</a></li>
			<li><a href="http://flowartz.dev/about">Martial</a></li>
			<li><a href="http://flowartz.dev/about">Traditional</a></li>
		</ul>
		</div>
		
		
		<div class="menu-az">
<ul class="nav">
			<li><a href="http://flowartz.dev/" style="border-left:0 none">A - Z</a></li>
			<li><a href="http://flowartz.dev/artists">Nearest</a></li>
			<li><a href="http://flowartz.dev/book_talent">Price</a></li>
			<li><a href="http://flowartz.dev/about">Availability</a></li>
			<li><a href="http://flowartz.dev/about">Skilly</a></li>
			<li><a href="http://flowartz.dev/about">Soonest</a></li>
			<input type="text" value="" placeholder="Search" >
		</ul>
		</div>
		<div>
	  
		
		
	   	     <div style="border-top: 1px solid #bbb;display: inline-block;padding: 20px 0;text-align:center">

		 <div class="shop-left" style="background: #FFFFFF;border: 1px solid #BBBBBB;border-radius:10px;height:635px">
		 <div>Note</div>
		 <div>List all the tags in this area. Higllight a tag when chosen and display all the art classes with the art classes with that tag in the matrix to the right</div>
		 </div>
		  <div class="shop-right">
		  
		  <ul class="list">

	<li>
		
	</li>

</ul>
		  
	       <ul class="artist-group fea-group note-group" style="border:0 none;padding:0">
  
                    <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev:8080/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>

                     <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev:8080/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>
					                    <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev:8080/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>

 
                                    </ul>
									
	<ul class="artist-group fea-group note-group" style="border:0 none;padding:0">
   
                    <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev:8080/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>

                     <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev:8080/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>
					                    <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev:8080/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>

 
                                    </ul>
									
	<ul class="artist-group fea-group note-group" style="border:0 none;padding:0">

                    <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev:8080/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>

                     <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev:8080/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>
					                    <li class="artist-profile">
                        <div class="ch_normal">
<img src="http://flowartz.dev:8080/template/images/artist-image.png">
</div>                      
                        <!-- end of artist div -->
                    </li>

                                    </ul>
									</div>
	   </div>
    </div>
    <!-- end of content wrapper div -->
</div>

</body>
</html>
